.card-root {
    max-width: 20vw;
}

.product-image {
    height: 20vh;
}

.action-area {
    display: flex;
    justify-content: center;
}

.product-title {
    font-family: 'Melted-Monster', cursive;
}

.add-btn {
    font-family: 'Melted-Monster', cursive;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.details-btn {
    font-family: 'Melted-Monster', cursive;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;

}

.link:hover {
    text-decoration: none;
}

.card-content {
    background-color: #dd2424;
}