.img-container {
    min-height: 75vh;
    min-width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-container {
    max-width: 20vw;
}

.movie-title {
    font-family: 'Melted-Monster', cursive;
    font-size: 3rem;
}

.add-button {
    background-color: #3e0e0e;
    color: white;
}