.container {
    margin-top: 0rem;
}

.search-container {
    background-image: url('/src/resources/Daco_112202.png');   
    height: 30vh;
    background-position: top right;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-bottom: -10rem;
}

